/* Shared Header, Body, & Footer Styles */
/* Header */
.header_bg {
    background-color: rgba(244, 208, 0, 1);
}
.header_text {
    font-family: 'Courier New', courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
    font-size: 55px;
    margin-bottom: 0px;
}
.header_subtitle {
    color: #585757;
    font-family: Tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-top: 0px;
}
.header_social {
    margin-top: 0px;
    float: left;
    margin-bottom: 10px;
    padding-left: 90px;
}
.nudbar {
    border: none;
    margin-bottom: 0px;
}
.navbar-nav.nav-justified > li{
    float: none;
}
ul.mama_menu li {
    font-family: Tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif;
    font-size: px;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}
ul.mama_menu li:hover {
    background: rgba(244, 208, 0, 1);
}
.header_bot {
    background-color: rgba(244, 208, 0, 1);
    height: 10px;
}

/* Body */
.main_content {
    background-color: black;
    color: gray;
    padding-top: 40px;
    padding-bottom: 30px;
}
@font-face {
  font-family: 'Fredericka the Great';
  font-style: normal;
  font-weight: 400;
  src: local('Fredericka the Great'), local('FrederickatheGreat'), url(https://fonts.gstatic.com/s/frederickathegreat/v5/7Es8Lxoku-e5eOZWpxw18hsRj2C0BvLNQqKHRdEu66Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.cheesy_quotes {
    font-family: fredericka the great, fantasy;
    font-size: 28px;
    font-style: italic;
    line-height: 90%;
    width: 100%;
    text-align: center;
}
.cheesy_author {
    font-family: Tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif;
    font-size: 11px;
    font-style: italic;
    color: #666666;
}

/* Footer */
.footer_bar {
    background-color: rgba(244, 208, 0, 1); 
    text-align: center;
    font-size: 12px;
    color: #585757;
    padding-top: 12px;
    padding-bottom: 1px;
}

/* Home Page Styles */

.carousel_container {
    width: 970px;
    height: 425px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.carousel img {
    margin: 0 auto;
    min-width: 75%;
    min-height: 425px;
    max-height: 420px;
}
.body_big_text {
    font-family: Tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}
.yellow_sliver {
    background-color: rgba(244, 208, 0, 1);
    height: 5px;
    margin-left: auto;
    margin-right: auto;
}
.body_media {
    width: 100%;
    height: 280px;
    margin-top: 10px;
}

/* About Page Styles */
.about {
    font-family: Tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif;
    font-size: 15px;
    color: #ffffff;
}
.about h3 {
    font-family: Tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #F4D000;
}
.about h5 {
    font-size: 15px;
    font-weight: bold;
    color: #D6D6D6;
}
.about h6 {
    line-height: 60%;
    font-size: 15px;
    color: #ffffff;
}
.about1 {
    margin-top: 45px;
}
.patch {
    vertical-align: middle;
    border: 0;
    width: 556px;
    height: 630px;
}
.about2 {
    margin-top: 140px;
}
.huddle {
    vertical-align: middle;
    border: 0;
    margin-top: 35px;
}
.about_table table {
    border: none;
    padding: 0px;
}
.about_table tr {
    border: none;
    padding: 0px;
}
.about_table td {
    border: none;
    padding: 0px;
    width: 50%;
}
.about3 {
    margin-top: 80px;
}
.about3 img {
    width: 100%;
    border: none;
}
.natty_champs {
    color: #F4D000;
}

/* What We Do Page Styles */


/* Why CU Page Styles */
.boulder_vid {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* Roster Page Styles */

span.text-content {
  background: rgba(0,0,0,0.8);
  color: white;
  cursor: pointer;
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.rosterpic:hover span.text-content {
  opacity: 1;
  color: white;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.playerName {
    margin-left:4px;
    font-size: 25px;
    text-align: left;
}
.playerInfo{
    margin-left:4px;
    font-size:15px;
    text-align: left;
}

/* Schedule Page Styles */
.nav_sched {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    border-color: #F4D000;
    border-width: 5px; 
    font-size: 30px;
}
/*
.nav_sched > li > a:hover{
    background-color: #F4D000;
    border-color: #F4D000;
}
 doesn't work! 
.nav_sched > li:focus{
    background-color: #F4D000;
    border-color: #F4D000;
}
*/

/* Calendar Page Styles */

.calender {
       margin-right: auto;
       margin-left: auto;
       display: block;
}

/* Upstart Text */
.upstart_text {
    font-family: Tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif;
    font-size: 15px;
    color: #ffffff;
    margin-top: 5px;
    text-align: center;
}
.upstart_img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width:20%;
}